* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

li {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.header > div {
    display: flex;
    overflow: hidden;
}

.header i {
    font-size: 25px;
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: 200;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.container {
    width: 1440px;
}

.consult-title {
    width: 100%;
    height: 250px;
    text-align: center;
}

.consult-title h1 {
    margin-top: 40px;
    line-height: 70px;
    font-size: 25px;
    font-weight: bold;
}

.consult-title p {
    font-size: 14px;
    color: rgb(40, 40, 40);
    line-height: 25px;
}

.consult-title h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 128, 255);
}

.user-info {
    width: 100%;
    padding: 0 40px;
}

dl {
    width: 100%;
    margin: 15px 0;
}

dt {
    font-size: 14px;
    font-weight: bold;
}

dd {
    width: 100%;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

dd > input[type=text] {
    width: 100%;
    border: 1px solid rgb(196, 196, 196);
    font-size: 14px;
    padding: 7px 10px;
}

dd > input[type=radio] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

dd > input[type=radio]:nth-last-of-type(1) {
    margin: 0 10px;
}

textarea {
    width: 100%;
    height: 200px;
    max-height: 200px;
    border: 1px solid rgb(196, 196, 196);
    font-size: 14px;
    padding: 10px;
    display: block;
}

.comment {
    font-size: 14px;
    font-weight: 200;
    color: rgb(48, 48, 48);
}

.agree {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: right;
}

.agree > input {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.rule-box {
    width: 100%;
    overflow: hidden;
}

.rule-info {
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color: #f6f3f2;
    font-size: 14px;
    font-weight: 200;
    color: rgb(48, 48, 48);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.user-category {
    width: 100%;
    padding: 40px;
    overflow: hidden;
}

.contents-box {
    width: 100%;
    border-top: 1px solid rgb(196, 196, 196);
}

.category-title {
    width: 100%;
    display: block;
}

.category-header {
    height: 70px;
    line-height: 70px;
    border-top: 1px solid rgb(196, 196, 196);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-header h3 {
    font-size: 18px;
    font-weight: 500;
    z-index: -1;
}

.category-header i {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    transition: 0.6s ease-out;
}

.rotate {
    transform: rotate(-180deg);
}

.button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}

.button input,
.button button {
    width: 49%;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    cursor: pointer;
    background-color: #41A6EC;
    border: none;
}

.category-contents {
    width: 100%;
    height: 0;
    /* background-color: lightblue; */
    overflow: hidden;
    transition: 0.6s ease-out;
}

.open {
    height: 500px;
}

.select-option {
    margin-top: 10px;
    width: 100%;
}

.product-list {
    width: 100%;
    height: 55px;
    border: 1px solid rgb(196, 196, 196);
    overflow: hidden;
}

.product-list ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.product-list ul > li {
    position: relative;
    margin: 0 20px;
    font-size: 16px;
    font-weight: 500;
    height: 55px;
    line-height: 55px;
    color: rgb(40, 40, 40);
    cursor: pointer;
}

.product-list ul > li:nth-of-type(1)::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgb(40, 40, 40);
}

.more-category {
    width: 100%;
    height: 45px;
    border: 1px solid rgb(196, 196, 196);
    border-top: none;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.category-btn {
    width: 300px;
    height: 100%;
    border-left: 1px solid rgb(196, 196, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: rgb(40, 40, 40);
    font-size: 16px;
    font-weight: 500;
}

.category-btn:nth-of-type(1) {
    border-left: none;
}

.category-btn:nth-last-of-type(2) {
    border-right: 1px solid rgb(196, 196, 196);
}

.category-btn i {
    font-weight: 500;
    cursor: pointer;
}

.reset {
    width: 160px;
    overflow: hidden;
    color: rgb(40, 40, 40);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset i {
    color: rgb(113, 113, 113);
    margin-right: 20px;
    cursor: pointer;
}

.product-sort {
    margin-top: 60px;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;
}

.sort-box {
    width: 320px;
    height: 350px;
    background-color: #e1dfdf;
    overflow: hidden;
    margin: 10px 0;
    padding: 10px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: white;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(40, 40, 40);
    color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.footer-container {
    width: 1360px;
}

footer p {
    line-height: 60px;
    font-size: 25px;
}

.footer-container > div {
    margin-top: 10px;
}

.footer-container span {
    position: relative;
    margin-right: 20px;
    line-height: 25px;
}

.footer-container span::after {
    position: absolute;
    content: "";
    top: 4px;
    right: -13px;
    width: 1px;
    height: 15px;
    background-color: rgb(196, 196, 196);
}

.footer-container span:nth-last-of-type(1)::after,
.footer-container span:nth-last-of-type(2)::after,
.footer-container span:nth-last-of-type(3)::after {
    width: 0;
}

.app-inquiry {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: hidden;
    /* display: none; */
}

.app-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-color: white;
    padding: 40px;
}

.app-box i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
}

.app-box h2 {
    text-align: center;
    line-height: 70px;
    font-weight: 500;
}

.input-box {
    margin-top: 30px;
    width: 100%;
}

.input-box p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.input-box span {
    margin: 0 50px;
    font-size: 16px;
    font-weight: bold;
}

.input-box input {
    margin: 0 50px;
    width: 240px;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid rgb(196, 196, 196);
}

.app-box ul {
    margin-top: 50px;
    width: 100%;
    padding: 0 35px;
}

.app-box ul > li {
    list-style: inherit;
    color: rgb(48, 48, 48);
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}

.app-submit {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-submit > button,
.app-submit > input {
    margin: 0 10px;
    padding: 8px 15px;
    width: 130px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #eee;
}

.app-submit > button {
    background-color: gray;
}

.app-submit > input {
    background-color: rgb(0, 128, 255);
}

.close-toggle {
    display: none;
} 