.list {
    width: 100%;
    padding: 0 40px;
    overflow: hidden;
    margin-bottom: 20px;
}

.list-header {
    width: 100%;
    padding: 0 80px;
    display: flex;
    overflow: hidden;
}

.user-head {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #0080ff;
    color: #eee;
    overflow: hidden;
    border-radius: 10px;
}

.user-head span {
    margin-right: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    background-color: aliceblue;
    font-weight: bold;
}

th, td {
    padding: 10px 15px;
    font-size: 16px;
    border-bottom: 1px solid rgb(196, 196, 196);
    border-top: 1px solid rgb(196, 196, 196);
    color: rgb(50, 50, 50);
    text-align: center;
    overflow: hidden;
}

td {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

th:nth-of-type(1),
td:nth-of-type(1),
th:nth-of-type(3),
td:nth-of-type(3) {
    width: 200px;
}
th:nth-of-type(2),
td:nth-of-type(2) {
    width: 800px;
}

td:nth-of-type(1) {
    border-right: 1px solid rgb(196, 196, 196);
}
td:nth-of-type(3) {
    border-left: 1px solid rgb(196, 196, 196);
}

.info-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}