/* 헤더 CSS */
header {
    background-color: white;
}

header .header-left > .logo path,
header .header-left > ul > li > a,
header .header-right path {
    color: rgb(30, 30, 30);
}

/* 조회 목록 섹션 */
#list {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    padding: 60px 0;
}

.list_container {
    min-width: 360px;
    max-width: 800px;
    transition: 0.3s ease;
}

/* 섹션 타이틀 */
.list_title {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    text-align: center;
}

.list_title h1 {
    font-size: 30px;
}

.list_title p {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 200;
}

.list_title h2 {
    margin-top: 25px;
    font-size: 25px;
    font-weight: bold;
    color: #0072BB;
}

/* 리스트 콘텐츠 */
.list_contents {
    margin-top: 70px;
    width: 100%;
    height: 200px;
    background-color: gray;
}