.consult_container {
    width: 1903px;
    overflow: hidden;
}

/* 조회 목록 게시판 */
#view_list {
    margin-top: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
}

.wrap-table {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

th {
    border-right: 1px solid rgb(196, 196, 196);
    padding: 20px 30px;
    background-color: #0072BB;
    color: #eee;
    text-align: left;
    text-transform: capitalize;
    overflow: hidden;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

th:nth-last-of-type(1) {
    border: none;
}

th:nth-last-of-type(2) {
    max-width: 930px;
}

td {
    max-width: 20vw;
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid rgb(196, 196, 196);
    border-top: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

td:nth-of-type(1) {
    border-left: none;
}
td:nth-last-of-type(1) {
    border-right: none;
}

@media screen and (max-width: 760px) {
    th {
        font-size: 14px;
        padding: 20px 5px;
    }

    td {
        font-size: 12px;
        padding: 20px 5px;
    }

    .consult_container {
        padding: 0 20px;
    }
}

@media screen and (max-width: 490px) {
    .wrap-table {
        border-radius: 0;
    }
}